In [61]:
import os
import pandas as pd
import numpy as np
from shapely.geometry import LineString, Point

divide_size = 6
zone_size = int(divide_size / 2)

# 폴더 경로 (예시 경로입니다, 실제 폴더 경로를 사용자가 제공해야 함)
folder_path = r'D:\TEMP\1Tray'

# 폴더 내의 모든 CSV 파일을 찾기
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

In [119]:
def convert_to_numeric(column):
    return pd.to_numeric(column.str.replace(' ', ''), errors='coerce')

# CSV 파일 로딩
# data = pd.read_csv(r'D:\TEMP\1Tray\1_1.csv', names=['X', 'Y', 'Height'], header=None)
data = pd.read_csv(r'D:\TEMP\1Tray\1_1.csv', names=['X', 'Y', 'Height'], skiprows=1)
# data = data[1:]
data
# CSV 파일 로딩, 첫 번째 행을 컬럼명으로 사용, 데이터를 숫자형으로 변환
# data['X'] = convert_to_numeric(data['X'])
# data['Y'] = convert_to_numeric(data['Y'])
# data['Height'] = convert_to_numeric(data['Height'])
# data

         X      Y    Height
0    -1.00  10.90  0.018812
1    -1.00   9.91  0.020025
2    -1.99   9.91  0.018980
3    -1.99   8.92  0.019774
4    -3.47   9.41  0.017461
..     ...    ...       ...
984  10.88   7.92  0.018774
985  10.39   5.44  0.018329
986   9.89   2.97  0.016712
987  10.88   4.95  0.017191
988  10.88   2.97  0.015034

[989 rows x 3 columns]

In [177]:
file = r'D:\TEMP\1Tray\1_1.csv'

# 파일 경로
file_path = os.path.join(folder_path, file)

# 파일 경로 설정 및 데이터 로드
data = pd.read_csv(file_path, names=['X', 'Y', 'Height'], skiprows=1)
# data = data[1:]
    
# # CSV 파일 로딩, 첫 번째 행을 컬럼명으로 사용, 데이터를 숫자형으로 변환
# data['X'] = convert_to_numeric(data['X'])
# data['Y'] = convert_to_numeric(data['Y'])
# data['Height'] = convert_to_numeric(data['Height'])


# 데이터 타입 변환
data = data.apply(pd.to_numeric, errors='coerce')

In [180]:

# 좌상단과 우하단 점 찾기
min_x, max_x = data['X'].min(), data['X'].max()
min_y, max_y = data['Y'].min(), data['Y'].max()

toler = 0.5
left_top_data = data[(data['X'] >= min_x - toler) & (data['X'] < min_x + toler) &
                            (data['Y'] >= max_y - toler) & (data['Y'] < max_y + toler)]

right_btm_data = data[(data['X'] >= max_x - toler) & (data['X'] < max_x + toler) &
                            (data['Y'] >= min_y - toler) & (data['Y'] < min_y + toler)]

right_top_data = data[(data['X'] >= max_x - toler) & (data['X'] < max_x + toler) &
                            (data['Y'] >= max_y - toler) & (data['Y'] < max_y + toler)]

left_btm_data = data[(data['X'] >= min_x - toler) & (data['X'] < min_x + toler) &
                            (data['Y'] >= min_y - toler) & (data['Y'] < min_y + toler)]

left_top_pt = left_top_data.values[0][:2]
right_btm_pt = right_btm_data.values[0][:2]
left_btm_pt = left_btm_data.values[0][:2]
right_top_pt = right_top_data.values[0][:2]

height_diff = left_btm_data.values[0][2] - left_top_data.values[0][2]

In [182]:


def AdjustSlope(data, point1, point2, height_diff):
    
    # 가상의 선 생성
    line1 = LineString([point1, point2])

    # 선에 가까운 점들 찾기
    dist_threshold = 0.5
    close_points = data[data.apply(lambda row: line1.distance(Point(row['X'], row['Y'])), axis=1) <= dist_threshold]
    
    # 높이 보정    
    x_diff = point2[0] - point1[0]
    y_diff = point2[1] - point1[1]
    slope = height_diff / np.sqrt(x_diff**2 + y_diff**2)

    # 좌상단 점으로부터의 거리 계산
    close_points['Dist'] = np.sqrt((close_points['X'] - point1[0]) ** 2 + (close_points['Y'] - point1[1]) ** 2)

    # 높이 보정 적용
    close_points['Adjusted_Height'] = close_points['Height'] + (close_points['Dist'] * slope)

    return close_points

In [186]:
close_points2 = AdjustSlope(data, left_btm_pt, right_top_pt, height_diff)

C:\Users\JINO\AppData\Local\Temp\ipykernel_19780\2806367016.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_points['Dist'] = np.sqrt((close_points['X'] - point1[0]) ** 2 + (close_points['Y'] - point1[1]) ** 2)
C:\Users\JINO\AppData\Local\Temp\ipykernel_19780\2806367016.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_points['Adjusted_Height'] = close_points['Height'] + (close_points['Dist'] * slope)

In [193]:
close_points1 = AdjustSlope(data, left_top_pt, right_btm_pt, height_diff)
close_points2 = AdjustSlope(data, left_btm_pt, right_top_pt, height_diff)

# 두 결과 합치기 (공통 열 확인 필요)
close_points = pd.concat([close_points1, close_points2]).reset_index(drop=True)

C:\Users\JINO\AppData\Local\Temp\ipykernel_19780\2806367016.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_points['Dist'] = np.sqrt((close_points['X'] - point1[0]) ** 2 + (close_points['Y'] - point1[1]) ** 2)
C:\Users\JINO\AppData\Local\Temp\ipykernel_19780\2806367016.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_points['Adjusted_Height'] = close_points['Height'] + (close_points['Dist'] * slope)
C:\Users\JINO\AppData\Local\Temp\ipykernel_19780\2806367016.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_points['Dist'] = np.sqrt((close_points['X'] - point1[0]) ** 2 + (close_points['Y'] - point1[1]) ** 2)
C:\Users\JINO\AppData\Local\Temp\ipykernel_19780\2806367016.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_points['Adjusted_Height'] = close_points['Height'] + (close_points['Dist'] * slope)

In [194]:
close_points

        X      Y    Height       Dist  Adjusted_Height
0   -1.01   0.99  0.022152  13.986579         0.027231
1   -1.99   1.99  0.022112  12.586501         0.026682
2  -10.89  10.89  0.006874   0.000000         0.006874
3   -1.50   1.49  0.021575  13.286538         0.026400
4   -7.43   7.43  0.014664   4.893179         0.016441
..    ...    ...       ...        ...              ...
77   6.92   6.93  0.020479  25.208358         0.029841
78   5.41   5.43  0.021191  23.079970         0.029763
79  10.38  10.40  0.019933  30.108610         0.031115
80   9.40   9.41  0.020813  28.715607         0.031478
81   8.40   8.43  0.020363  27.315543         0.030508

[82 rows x 5 columns]

In [190]:
merged_data

,X,Y,Height_x,Dist_x,Adjusted_Height_x,Height_y,Dist_y,Adjusted_Height_y
0,-0.01,0.0,0.022481,15.393716,0.028071,0.022481,15.407858,0.028203

In [188]:
close_points

Empty DataFrame
Columns: [X, Y, Height, Dist, Adjusted_Height]
Index: []

In [174]:


def AdjustSlope(data, point1, point2, height_diff):
    
    # 가상의 선 생성
    line1 = LineString([point1, point2])

    # 선에 가까운 점들 찾기
    dist_threshold = 0.5
    close_points = data[data.apply(lambda row: line1.distance(Point(row['X'], row['Y'])), axis=1) <= dist_threshold]
    
    # 높이 보정    
    x_diff = point2[0] - point1[0]
    y_diff = point2[1] - point1[1]
    slope = height_diff / np.sqrt(x_diff**2 + y_diff**2)

    # 좌상단 점으로부터의 거리 계산
    close_points['Dist'] = np.sqrt((close_points['X'] - point1[0]) ** 2 + (close_points['Y'] - point1[1]) ** 2)

    # 높이 보정 적용
    close_points['Adjusted_Height'] = close_points['Height'] + (close_points['Dist'] * slope)

    return close_points

In [166]:
close_points['Dist']

55     0.0
125    0.0
137    0.0
144    0.0
159    0.0
164    0.0
165    0.0
186    0.0
200    0.0
202    0.0
204    0.0
253    0.0
258    0.0
261    0.0
279    0.0
335    0.0
416    0.0
443    0.0
501    0.0
503    0.0
505    0.0
530    0.0
535    0.0
581    0.0
583    0.0
600    0.0
606    0.0
645    0.0
662    0.0
663    0.0
721    0.0
723    0.0
724    0.0
754    0.0
755    0.0
813    0.0
845    0.0
852    0.0
880    0.0
910    0.0
971    0.0
Name: Dist, dtype: float64

In [73]:
line1 = LineString([left_top_data.values[0][:2], right_btm_data.values[0][:2]])

In [75]:

# 가상의 선 생성
line1 = LineString([left_top_data.values[0][:2], right_btm_data.values[0][:2]])
line2 = LineString([left_btm_data.values[0][:2], right_top_data.values[0][:2]])

# 일정 거리(dist) 설정
dist = 2

# 일정 거리(dist) 내에 있는 좌표 추출
diagonal_section1 = []
diagonal_section2 = []

data_cnt = data.shape[0]

In [111]:

left_top_pt = left_top_data.values[0][:2]
right_btm_pt = right_btm_data.values[0][:2]
left_btm_pt = left_btm_data.values[0][:2]
right_top_pt = right_top_data.values[0][:2]


# 가상의 선 방향 계산
direction_vector1 = right_btm_pt - left_top_pt
direction_vector1 /= np.linalg.norm(direction_vector1)  # 방향 벡터 정규화

direction_vector2 = right_top_pt - left_btm_pt
direction_vector2 /= np.linalg.norm(direction_vector2)  # 방향 벡터 정규화


diagonal_section1 = np.array([])
diagonal_section2 = np.array([])

for index, row in data.iterrows():        
    point = Point(row['X'], row['Y'])
    if line1.distance(point) <= dist:
        continue

    point = np.array(row['X'], row['Y'])
    # if np.allclose(point[:2], left_top_pt) or np.allclose(point[:2], right_btm_pt):
    #     continue  # 좌상과 우하 좌표는 보정할 필요 없음

    height_difference1 = np.dot(point - left_top_pt, direction_vector1)  # 가상의 선과 수직 거리 계산
    height_difference2 = np.dot(point - left_btm_pt, direction_vector2)  # 가상의 선과 수직 거리 계산
   
    distance1 = np.linalg.norm(point - left_top_pt)  # 좌상단과의 거리
    distance2 = np.linalg.norm(point - left_btm_pt)  # 좌하단과의 거리

    diagonal_section1.append((distance1, row['Height'] + height_difference1))
    diagonal_section2.append((distance2, row['Height'] + height_difference2))
    

    height_difference = np.dot(point - left_top_pt, direction_vector1) * (right_btm_pt - left_top_pt)
    print('height_difference = ',height_difference)
    print(height_difference,row['Height'])
    adjust_height = row['Height'] + height_difference        
    distance = np.linalg.norm(point - left_top_pt)        
    print(distance)
    diagonal_section1 = np.array(diagonal_section1,(distance,adjust_height))

height_difference =  [ 335.28216517 -335.43617627]
[ 335.28216517 -335.43617627] 0.018812
15.465581140067128

ValueError: invalid shape in fixed-type tuple.

In [95]:
len(diagonal_section1)

122

In [83]:
diagonal_section1

[X        -1.500000
 Y        -0.490000
 Height    0.021857
 Name: 45, dtype: float64,
 X        -1.010000
 Y         0.990000
 Height    0.022152
 Name: 56, dtype: float64,
 X        -0.990000
 Y        -0.990000
 Height    0.022651
 Name: 57, dtype: float64,
 X        -2.980000
 Y         4.950000
 Height    0.021144
 Name: 71, dtype: float64,
 X        -1.500000
 Y         3.470000
 Height    0.021947
 Name: 72, dtype: float64,
 X        -1.010000
 Y         1.980000
 Height    0.022193
 Name: 73, dtype: float64,
 X        -2.490000
 Y         1.490000
 Height    0.021752
 Name: 74, dtype: float64,
 X        -1.500000
 Y         0.500000
 Height    0.021973
 Name: 75, dtype: float64,
 X        -2.490000
 Y         0.500000
 Height    0.021927
 Name: 76, dtype: float64,
 X        -2.000000
 Y         0.010000
 Height    0.022087
 Name: 77, dtype: float64,
 X        -3.970000
 Y         5.950000
 Height    0.019523
 Name: 105, dtype: float64,
 X        -1.990000
 Y         3.970000
 Height    0.021846
 Name: 108, dtype: float64,
 X        -2.460000
 Y         3.490000
 Height    0.021197
 Name: 109, dtype: float64,
 X        -1.500000
 Y         2.480000
 Height    0.021889
 Name: 110, dtype: float64,
 X        -1.990000
 Y         0.990000
 Height    0.021837
 Name: 111, dtype: float64,
 X        -1.01000
 Y         2.97000
 Height    0.02246
 Name: 124, dtype: float64,
 X        -1.99000
 Y         2.98000
 Height    0.02183
 Name: 125, dtype: float64,
 X        -1.990000
 Y         1.990000
 Height    0.022112
 Name: 126, dtype: float64,
 X        -10.890000
 Y         10.890000
 Height     0.006874
 Name: 138, dtype: float64,
 X        -5.950000
 Y         7.930000
 Height    0.016038
 Name: 141, dtype: float64,
 X        -4.960000
 Y         6.930000
 Height    0.017126
 Name: 142, dtype: float64,
 X        -3.970000
 Y         4.950000
 Height    0.020065
 Name: 143, dtype: float64,
 X        -1.500000
 Y         1.490000
 Height    0.021575
 Name: 145, dtype: float64,
 X        -10.90000
 Y          9.90000
 Height     0.00884
 Name: 156, dtype: float64,
 X        -7.430000
 Y         9.410000
 Height    0.012617
 Name: 157, dtype: float64,
 X        -6.940000
 Y         8.910000
 Height    0.013725
 Name: 158, dtype: float64,
 X        -7.430000
 Y         8.420000
 Height    0.013645
 Name: 159, dtype: float64,
 X        -7.430000
 Y         7.430000
 Height    0.014664
 Name: 160, dtype: float64,
 X        -5.450000
 Y         7.430000
 Height    0.016755
 Name: 161, dtype: float64,
 X        -4.940000
 Y         5.920000
 Height    0.017816
 Name: 162, dtype: float64,
 X        -2.960000
 Y         3.980000
 Height    0.021096
 Name: 164, dtype: float64,
 X        -3.980000
 Y         3.970000
 Height    0.020594
 Name: 165, dtype: float64,
 X        -2.490000
 Y         2.480000
 Height    0.021695
 Name: 166, dtype: float64,
 X        -2.970000
 Y         1.000000
 Height    0.021277
 Name: 167, dtype: float64,
 X        -1.010000
 Y         0.000000
 Height    0.022061
 Name: 172, dtype: float64,
 X        -10.900000
 Y          8.910000
 Height     0.010326
 Name: 183, dtype: float64,
 X        -6.940000
 Y         7.920000
 Height    0.014652
 Name: 184, dtype: float64,
 X        -6.450000
 Y         7.430000
 Height    0.015722
 Name: 185, dtype: float64,
 X        -4.470000
 Y         5.450000
 Height    0.019125
 Name: 186, dtype: float64,
 X        -5.430000
 Y         5.430000
 Height    0.017667
 Name: 187, dtype: float64,
 X        -3.990000
 Y         2.950000
 Height    0.020689
 Name: 188, dtype: float64,
 X        -3.500000
 Y         2.460000
 Height    0.020427
 Name: 189, dtype: float64,
 X        -3.9700
 Y         1.9800
 Height    0.0212
 Name: 190, dtype: float64,
 X        -10.400000
 Y         10.400000
 Height     0.008406
 Name: 201, dtype: float64,
 X        -7.930000
 Y         9.910000
 Height    0.012324
 Name: 202, dtype: float64,
 X        -9.910000
 Y         9.910000
 Height    0.010294
 Name: 203, dtype: float64,
 X        -8.42000
 Y         9.41000
 Height    0.01167
 Name: 204, dtype: float64,
 X        -9.410000
 Y         9.410000
 Height    0.011525
 Name: 205, dtype: float64,
 X        -10.400000
 Y          9.400000
 Height     0.010257
 Name: 206, dtype: float64,
 X        -7.930000
 Y         8.920000
 Height    0.013311
 Name: 207, dtype: float64,
 X        -10.40000
 Y          8.41000
 Height     0.01176
 Name: 208, dtype: float64,
 X        -5.970000
 Y         6.960000
 Height    0.016712
 Name: 210, dtype: float64,
 X        -7.430000
 Y         6.440000
 Height    0.015454
 Name: 211, dtype: float64,
 X        -3.480000
 Y         5.450000
 Height    0.019577
 Name: 212, dtype: float64,
 X        -6.450000
 Y         5.440000
 Height    0.017086
 Name: 213, dtype: float64,
 X        -5.450000
 Y         4.460000
 Height    0.018277
 Name: 214, dtype: float64,
 X        -3.480000
 Y         1.490000
 Height    0.020751
 Name: 216, dtype: float64,
 X        -8.920000
 Y         9.900000
 Height    0.010545
 Name: 239, dtype: float64,
 X        -9.410000
 Y         8.420000
 Height    0.012308
 Name: 240, dtype: float64,
 X        -5.450000
 Y         3.470000
 Height    0.018643
 Name: 242, dtype: float64,
 X        -4.960000
 Y         2.970000
 Height    0.019319
 Name: 243, dtype: float64,
 X        -4.470000
 Y         2.480000
 Height    0.020244
 Name: 244, dtype: float64,
 X         -9.910000
 Y         10.890000
 Height     0.007711
 Name: 252, dtype: float64,
 X        -9.910000
 Y         8.920000
 Height    0.011214
 Name: 253, dtype: float64,
 X        -7.930000
 Y         7.930000
 Height    0.013896
 Name: 254, dtype: float64,
 X        -9.900000
 Y         7.930000
 Height    0.013042
 Name: 255, dtype: float64,
 X        -7.930000
 Y         6.930000
 Height    0.014898
 Name: 258, dtype: float64,
 X        -6.460000
 Y         6.460000
 Height    0.016022
 Name: 259, dtype: float64,
 X        -5.950000
 Y         4.950000
 Height    0.018227
 Name: 261, dtype: float64,
 X        -4.47000
 Y         4.46000
 Height    0.01968
 Name: 262, dtype: float64,
 X        -4.47000
 Y         3.47000
 Height    0.01996
 Name: 263, dtype: float64,
 X         -8.910000
 Y         10.890000
 Height     0.008221
 Name: 278, dtype: float64,
 X        -8.420000
 Y         8.410000
 Height    0.012992
 Name: 280, dtype: float64,
 X        -8.420000
 Y         6.430000
 Height    0.014751
 Name: 282, dtype: float64,
 X        -7.430000
 Y         5.440000
 Height    0.016278
 Name: 284, dtype: float64,
 X         -8.410000
 Y         10.390000
 Height     0.010016
 Name: 305, dtype: float64,
 X         -9.4100
 Y         10.4000
 Height     0.0093
 Name: 306, dtype: float64,
 X        -8.420000
 Y         7.420000
 Height    0.013534
 Name: 307, dtype: float64,
 X        -9.410000
 Y         7.430000
 Height    0.013312
 Name: 308, dtype: float64,
 X        -6.940000
 Y         4.950000
 Height    0.016323
 Name: 310, dtype: float64,
 X        -3.480000
 Y         4.460000
 Height    0.020339
 Name: 311, dtype: float64,
 X        -5.950000
 Y         3.960000
 Height    0.018326
 Name: 312, dtype: float64,
 X        -2.980000
 Y         1.990000
 Height    0.021452
 Name: 317, dtype: float64,
 X        -8.920000
 Y         6.930000
 Height    0.013747
 Name: 332, dtype: float64,
 X        -7.930000
 Y         5.940000
 Height    0.015771
 Name: 333, dtype: float64,
 X        -4.960000
 Y         4.950000
 Height    0.018426
 Name: 336, dtype: float64,
 X        -6.440000
 Y         4.460000
 Height    0.017571
 Name: 337, dtype: float64,
 X        -6.440000
 Y         8.420000
 Height    0.015015
 Name: 349, dtype: float64,
 X        -4.46000
 Y         6.44000
 Height    0.01846
 Name: 350, dtype: float64,
 X        -2.490000
 Y         4.460000
 Height    0.021392
 Name: 385, dtype: float64,
 X        -8.910000
 Y         7.920000
 Height    0.013104
 Name: 416, dtype: float64,
 X        -6.950000
 Y         6.940000
 Height    0.015096
 Name: 417, dtype: float64,
 X        -6.930000
 Y         5.940000
 Height    0.015741
 Name: 426, dtype: float64,
 X        -4.950000
 Y         3.960000
 Height    0.018941
 Name: 428, dtype: float64,
 X        -8.92000
 Y         8.92000
 Height    0.01192
 Name: 444, dtype: float64,
 X         3.46000
 Y        -5.44000
 Height    0.02029
 Name: 472, dtype: float64,
 X         0.980000
 Y         0.000000
 Height    0.022588
 Name: 501, dtype: float64,
 X         0.480000
 Y        -0.490000
 Height    0.023581
 Name: 502, dtype: float64,
 X         1.95000
 Y        -0.97000
 Height    0.02246
 Name: 503, dtype: float64,
 X         1.000000
 Y        -0.970000
 Height    0.022915
 Name: 504, dtype: float64,
 X         1.470000
 Y        -2.470000
 Height    0.023477
 Name: 505, dtype: float64,
 X         2.960000
 Y        -2.970000
 Height    0.021829
 Name: 506, dtype: float64,
 X         1.470000
 Y        -3.460000
 Height    0.023622
 Name: 507, dtype: float64,
 X         0.480000
 Y         0.500000
 Height    0.023334
 Name: 530, dtype: float64,
 X        -0.500000
 Y         0.500000
 Height    0.022979
 Name: 531, dtype: float64,
 X        -0.510000
 Y        -0.490000
 Height    0.022861
 Name: 533, dtype: float64,
 X         2.980000
 Y        -1.990000
 Height    0.022146
 Name: 534, dtype: float64,
 X         0.460000
 Y        -2.490000
 Height    0.023425
 Name: 535, dtype: float64,
 X         3.46000
 Y        -3.46000
 Height    0.02168
 Name: 536, dtype: float64,
 X         3.460000
 Y        -4.450000
 Height    0.020879
 Name: 538, dtype: float64,
 X         0.980000
 Y         1.000000
 Height    0.022567
 Name: 558, dtype: float64,
 X         1.970000
 Y        -3.960000
 Height    0.022015
 Name: 563, dtype: float64,
 X         2.470000
 Y        -4.450000
 Height    0.022431
 Name: 564, dtype: float64,
 X         1.970000
 Y         0.000000
 Height    0.022073
 Name: 579, dtype: float64,
 X        -0.020000
 Y        -0.980000
 Height    0.022686
 Name: 581, dtype: float64,
 X         1.490000
 Y        -1.460000
 Height    0.023552
 Name: 582, dtype: float64,
 X        -0.5100
 Y        -1.4800
 Height    0.0226
 Name: 583, dtype: float64,
 X         2.470000
 Y        -2.470000
 Height    0.023219
 Name: 584, dtype: float64,
 X         3.950000
 Y        -5.940000
 Height    0.018538
 Name: 587, dtype: float64,
 X         2.440000
 Y        -0.470000
 Height    0.023283
 Name: 600, dtype: float64,
 X         1.970000
 Y        -1.980000
 Height    0.022248
 Name: 601, dtype: float64,
 X         4.450000
 Y        -2.480000
 Height    0.020944
 Name: 602, dtype: float64,
 X         1.970000
 Y        -2.970000
 Height    0.021978
 Name: 603, dtype: float64,
 X         4.450000
 Y        -3.460000
 Height    0.020837
 Name: 604, dtype: float64,
 X         2.470000
 Y        -3.460000
 Height    0.023234
 Name: 605, dtype: float64,
 X         3.950000
 Y        -3.960000
 Height    0.021141
 Name: 607, dtype: float64,
 X        -0.010000
 Y         1.980000
 Height    0.022226
 Name: 622, dtype: float64,
 X         0.480000
 Y         1.480000
 Height    0.023527
 Name: 623, dtype: float64,
 X        -0.03000
 Y        -1.99000
 Height    0.02254
 Name: 625, dtype: float64,
 X         3.950000
 Y        -4.950000
 Height    0.019722
 Name: 626, dtype: float64,
 X         4.450000
 Y        -6.430000
 Height    0.017568
 Name: 627, dtype: float64,
 X        -0.010000
 Y         0.990000
 Height    0.022529
 Name: 645, dtype: float64,
 X        -0.010000
 Y         0.000000
 Height    0.022481
 Name: 646, dtype: float64,
 X         3.950000
 Y        -1.980000
 Height    0.021885
 Name: 647, dtype: float64,
 X         4.950000
 Y        -3.960000
 Height    0.020756
 Name: 648, dtype: float64,
 X         4.920000
 Y        -5.920000
 Height    0.018219
 Name: 649, dtype: float64,
 X         4.950000
 Y        -2.970000
 Height    0.020932
 Name: 661, dtype: float64,
 X         3.950000
 Y        -2.970000
 Height    0.021474
 Name: 662, dtype: float64,
 X         4.450000
 Y        -4.450000
 Height    0.019902
 Name: 663, dtype: float64,
 X         4.940000
 Y        -4.950000
 Height    0.019494
 Name: 664, dtype: float64,
 X         4.450000
 Y        -5.440000
 Height    0.019005
 Name: 665, dtype: float64,
 X         4.940000
 Y        -6.930000
 Height    0.016976
 Name: 667, dtype: float64,
 X         0.990000
 Y        -2.970000
 Height    0.022653
 Name: 679, dtype: float64,
 X         2.950000
 Y        -3.960000
 Height    0.021654
 Name: 680, dtype: float64,
 X         6.430000
 Y        -7.420000
 Height    0.015098
 Name: 691, dtype: float64,
 X         6.430000
 Y        -8.410000
 Height    0.013658
 Name: 693, dtype: float64,
 X        -0.500000
 Y         1.490000
 Height    0.022903
 Name: 699, dtype: float64,
 X         1.470000
 Y         0.500000
 Height    0.023565
 Name: 700, dtype: float64,
 X         1.480000
 Y        -0.490000
 Height    0.023897
 Name: 701, dtype: float64,
 X         5.440000
 Y        -3.460000
 Height    0.020373
 Name: 704, dtype: float64,
 X         5.960000
 Y        -6.940000
 Height    0.016311
 Name: 706, dtype: float64,
 X         6.920000
 Y        -8.910000
 Height    0.012673
 Name: 709, dtype: float64,
 X         5.440000
 Y        -4.450000
 Height    0.019863
 Name: 719, dtype: float64,
 X         2.960000
 Y        -4.950000
 Height    0.020709
 Name: 720, dtype: float64,
 X         6.440000
 Y        -5.430000
 Height    0.017863
 Name: 721, dtype: float64,
 X         5.420000
 Y        -5.420000
 Height    0.018521
 Name: 722, dtype: float64,
 X         7.420000
 Y        -5.440000
 Height    0.017329
 Name: 723, dtype: float64,
 X         6.450000
 Y        -6.450000
 Height    0.016138
 Name: 724, dtype: float64,
 X         6.920000
 Y        -6.930000
 Height    0.015548
 Name: 725, dtype: float64,
 X         5.930000
 Y        -7.920000
 Height    0.014942
 Name: 726, dtype: float64,
 X         6.920000
 Y        -7.920000
 Height    0.013944
 Name: 727, dtype: float64,
 X         3.460000
 Y        -2.470000
 Height    0.021739
 Name: 741, dtype: float64,
 X         6.430000
 Y        -4.450000
 Height    0.018412
 Name: 744, dtype: float64,
 X         7.420000
 Y        -6.430000
 Height    0.015805
 Name: 746, dtype: float64,
 X         3.470000
 Y        -1.500000
 Height    0.022059
 Name: 752, dtype: float64,
 X         6.920000
 Y        -4.950000
 Height    0.017903
 Name: 754, dtype: float64,
 X         7.420000
 Y        -7.420000
 Height    0.014277
 Name: 755, dtype: float64,
 X         7.910000
 Y        -7.920000
 Height    0.012935
 Name: 756, dtype: float64,
 X         7.910000
 Y        -9.900000
 Height    0.009954
 Name: 757, dtype: float64,
 X         6.920000
 Y        -5.940000
 Height    0.016981
 Name: 774, dtype: float64,
 X         7.910000
 Y        -8.910000
 Height    0.011462
 Name: 776, dtype: float64,
 X        -0.510000
 Y         2.480000
 Height    0.022765
 Name: 807, dtype: float64,
 X         8.410000
 Y        -6.430000
 Height    0.014454
 Name: 812, dtype: float64,
 X         5.450000
 Y        -7.420000
 Height    0.016126
 Name: 813, dtype: float64,
 X         8.410000
 Y        -8.410000
 Height    0.011724
 Name: 814, dtype: float64,
 X         8.900000
 Y        -6.930000
 Height    0.013469
 Name: 827, dtype: float64,
 X         8.410000
 Y        -7.420000
 Height    0.013242
 Name: 828, dtype: float64,
 X         7.410000
 Y        -8.410000
 Height    0.013096
 Name: 829, dtype: float64,
 X         8.410000
 Y        -9.400000
 Height    0.010045
 Name: 830, dtype: float64,
 X          8.410000
 Y        -10.390000
 Height     0.008121
 Name: 831, dtype: float64,
 X         8.900000
 Y        -7.920000
 Height    0.011856
 Name: 844, dtype: float64,
 X         9.390000
 Y        -8.410000
 Height    0.010815
 Name: 845, dtype: float64,
 X         8.900000
 Y        -8.910000
 Height    0.010871
 Name: 846, dtype: float64,
 X         9.400000
 Y        -9.400000
 Height    0.009938
 Name: 853, dtype: float64,
 X         8.90000
 Y        -9.90000
 Height    0.00913
 Name: 854, dtype: float64,
 X         5.930000
 Y        -3.950000
 Height    0.019794
 Name: 864, dtype: float64,
 X         5.940000
 Y        -4.950000
 Height    0.018789
 Name: 866, dtype: float64,
 X         7.910000
 Y        -5.940000
 Height    0.015328
 Name: 867, dtype: float64,
 X         9.400000
 Y        -7.420000
 Height    0.012021
 Name: 869, dtype: float64,
 X         10.38000
 Y         -8.41000
 Height     0.00987
 Name: 870, dtype: float64,
 X         9.890000
 Y        -7.920000
 Height    0.010575
 Name: 880, dtype: float64,
 X         9.890000
 Y        -9.900000
 Height    0.008228
 Name: 881, dtype: float64,
 X          9.390000
 Y        -10.390000
 Height     0.007308
 Name: 882, dtype: float64,
 X          8.900000
 Y        -10.890000
 Height     0.006171
 Name: 883, dtype: float64,
 X         10.390000
 Y         -9.400000
 Height     0.008165
 Name: 910, dtype: float64,
 X         10.380000
 Y        -10.400000
 Height     0.006329
 Name: 911, dtype: float64,
 X         7.420000
 Y        -9.400000
 Height    0.011257
 Name: 921, dtype: float64,
 X          9.880000
 Y        -10.890000
 Height     0.004826
 Name: 922, dtype: float64,
 X         7.920000
 Y        -6.930000
 Height    0.014379
 Name: 949, dtype: float64,
 X         10.880000
 Y         -9.900000
 Height     0.006675
 Name: 966, dtype: float64,
 X         10.880000
 Y         -8.910000
 Height     0.007793
 Name: 971, dtype: float64,
 X         10.880000
 Y        -10.890000
 Height     0.004452
 Name: 972, dtype: float64,
 X         9.890000
 Y        -8.910000
 Height    0.008925
 Name: 979, dtype: float64]

In [43]:


data.loc[(data['X'] == data['X'].min()) & (data['Y'] == data['Y'].max())]

Empty DataFrame
Columns: [X, Y, Height]
Index: []

In [41]:
left_top_index = data.loc[(data['X'] == data['X'].min()) & (data['Y'] == data['Y'].max())].index[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [38]:

# 좌상 끝점과 우하 끝점 및 높이 구하기
left_top = np.array([data['X'].min(), data['Y'].max(), data.loc[data['X'].idxmin(), 'Height']])
right_bottom = np.array([data['X'].max(), data['Y'].min(), data.loc[data['X'].idxmax(), 'Height']])


left_top_index = data.loc[(data['X'] == data['x'].min()) & (data['Y'] == data['Y'].max())].index[0]


min_x = data['X'].min()
max_x = data['X'].max()
min_y = data['Y'].min()
max_y = data['Y'].max()

min_x_y = data[data['X'] == min_x]['Y'].max()
right_top = data[data['X'] == max_x]['Y'].max()
right_btm = data[data['X'] == max_x]['Y'].min()
left_btm = data[data['X'] == min_x]['Y'].min()

left_top_height = data[(data['X'] == min_x) & (data['Y'] == min_x_y)]['Height'].values[0]

In [39]:
left_top

9.9

In [48]:
# 데이터를 숫자형으로 변환하는 함수
def convert_to_numeric(column):
    return pd.to_numeric(column.str.replace(' ', ''), errors='coerce')

def AverageSection(file):

    print('file :', file)
    
    # 파일 경로
    file_path = os.path.join(folder_path, file)
    
    # CSV 파일 로딩
    data = pd.read_csv(file_path, names=['X', 'Y', 'Height'], header=None)
    data = data[1:]
        
    # CSV 파일 로딩, 첫 번째 행을 컬럼명으로 사용, 데이터를 숫자형으로 변환
    data['X'] = convert_to_numeric(data['X'])
    data['Y'] = convert_to_numeric(data['Y'])
    data['Height'] = convert_to_numeric(data['Height'])

    min_x, max_x = data['X'].min(), data['X'].max()
    min_y, max_y = data['Y'].min(), data['Y'].max()

    # 영역을 6등분할 크기를 계산
    x_interval = (max_x - min_x) / divide_size
    y_interval = (max_y - min_y) / divide_size

    section_avg = np.zeros(shape=(divide_size,divide_size), dtype=float)

    # 6x6 영역을 순회하며 평균 높이 계산
    for i in range(divide_size):
        for j in range(divide_size):
            # 현재 영역의 X, Y 좌표 범위를 계산
            x_start = min_x + i * x_interval
            x_end = x_start + x_interval
            y_start = min_y + j * y_interval
            y_end = y_start + y_interval
            
            # 현재 영역에 해당하는 데이터를 필터링
            area_data = data[(data['X'] >= x_start) & (data['X'] < x_end) &
                             (data['Y'] >= y_start) & (data['Y'] < y_end)]
            
            # 영역별 평균 높이를 계산하여 리스트에 추가
            avg_height = area_data['Height'].mean() if not area_data.empty else None
            section_avg[i,j] = avg_height
    return section_avg

In [53]:
def AverageZone(section_avg):

    #0 : 중심, 1 : 좌상, 2:우상, 3:좌하, 4:우하
    zone_cnt = 5
    zone_avg = np.zeros(shape=(5), dtype=float)

    for k in range(zone_cnt):
        
        x_start = 0
        y_start = 0
        x_size = zone_size
        y_size = zone_size

        if k == 0:
            x_start = 2
            y_start = 2
            x_size = 2
            y_size = 2
        elif k == 1:
            x_start = 0
            y_start = 0
        elif k == 2:
            x_start = 3
            y_start = 0
        elif k == 3:
            x_start = 0
            y_start = 3
        elif k == 4:
            x_start = 3
            y_start = 3

        total_val = 0
        add_cnt = 0

        # 3x3 영역을 순회하며 평균 높이 계산
        for i in range(x_size):
            for j in range(y_size):
                
                if k > 0:
                    # 중심이 아닌 Zone을 구할때, 중심 영역일때 스킵
                    if((i == 2 or i == 3) and (j == 2 or j== 3)):
                       continue
                
                total_val += section_avg[i,j]
                add_cnt += 1
        
        avg_val = total_val / add_cnt
        zone_avg[k] = avg_val

    return zone_avg